body {
    background-color: rgb(127, 174, 255);
}


h1 {
    text-align: center;
    font-size: 40px;
    color: black;
}

.red {
    color: red;
}

h2 {
    font-size: 25px;
    color: rgb(226, 205, 43);

}

p {
    font-size: 20px;
    color: blueviolet;
}

img {
    width: 748px;
    height: 450px;
}